@{
    Layout = "Layouts/_ApplicationPDF";
}
@section Styles { @RenderSection("Styles", required: false) }
@section Scripts { @RenderSection("Scripts", required: false) }
<div style="width:100%">
    @RenderBody()
</div>
