@model DEVTOOLS.EF.Entidades.ProjectTemplate

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProjectTemplate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProjectTemplateId" />
            <div class="form-group">
                <label asp-for="ProjectId" class="control-label"></label>
                <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectTemplateName" class="control-label"></label>
                <input asp-for="ProjectTemplateName" class="form-control" />
                <span asp-validation-for="ProjectTemplateName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectTemplateObservations" class="control-label"></label>
                <input asp-for="ProjectTemplateObservations" class="form-control" />
                <span asp-validation-for="ProjectTemplateObservations" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectTemplateSourceCodeType" class="control-label"></label>
                <select asp-for="ProjectTemplateSourceCodeType" class="form-control" asp-items="ViewBag.ProjectTemplateSourceCodeType"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProjectTemplateContent" class="control-label"></label>
                <input asp-for="ProjectTemplateContent" class="form-control" />
                <span asp-validation-for="ProjectTemplateContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="Projects/Edit?id=@Model.ProjectId">Back to Proy</a>
</div>

@section ScriptsBlock {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
