@model DEVTOOLS.EF.Entidades.Column

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Column</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ColumnIndex" class="control-label"></label>
                <input asp-for="ColumnIndex" class="form-control" />
                <span asp-validation-for="ColumnIndex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntityId" class="control-label"></label>
                <select asp-for="EntityId" class ="form-control" asp-items="ViewBag.EntityId"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ColumnPrimaryKey" /> @Html.DisplayNameFor(model => model.ColumnPrimaryKey)
                </label>
            </div>
            <div style="border:1px solid black;border-radius: 0.3rem;padding:0.5rem">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="ColumnForeignKey" id="input-is-fk"/> @Html.DisplayNameFor(model => model.ColumnForeignKey)
                    </label>
                </div>
                 <div class="form-group" id="div-parent-entity">
                    <label class="control-label">Entidad Padre</label>
                    <select class ="form-control" id="select-parent-entity"></select>
                </div>
                <div class="form-group" id="div-parent-column">
                    <label asp-for="ColumnParentForeignKey" class="control-label">Columna Padre</label>
                    <select asp-for="ColumnParentForeignKey" class ="form-control" id="select-parent-column"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ColumnName" class="control-label"></label>
                <input asp-for="ColumnName" class="form-control" />
                <span asp-validation-for="ColumnName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColumnDescription" class="control-label"></label>
                <input asp-for="ColumnDescription" class="form-control" />
                <span asp-validation-for="ColumnDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColumnType" class="control-label"></label>
                <select asp-for="ColumnType" class="form-control" asp-items="ViewBag.ColumnType"></select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a href="Entities/Edit?id=@ViewBag.EntityVal">Back to List</a>
</div>

@section ScriptsBlock {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    const inputIsFk = document.querySelector('#input-is-fk');
    const selectParentEntity = document.querySelector('#select-parent-entity');
    const selectParentColumn = document.querySelector('#select-parent-column');
    const divParentEntity = document.querySelector('#div-parent-entity');
    const divParentColumn = document.querySelector('#div-parent-column');

    eventListeners();

    function eventListeners()
    {
        inputIsFk.addEventListener('input', HiddenParent);
        CargarEntidadesSelect();
        HiddenParent();
        selectParentEntity.addEventListener('click', CargarColumnasSelect);
    }

    async function HiddenParent()
    {
        if (inputIsFk.checked == true) {
            divParentEntity.hidden = false;
            divParentColumn.hidden = false;
        }
        else {
            divParentEntity.hidden = true;
            divParentColumn.hidden = true;
        }
    }

    async function CargarEntidadesSelect() 
    {
        let url = "Columns/GetEntities?EntityId=" + @ViewBag.EntityVal;
        const respuesta = await fetch(url);
        const resultado = await respuesta.json();

        let option;
        selectParentEntity.innerHTML = "";
        for (let i = 0; i < resultado.length; i++)
        {
            option = document.createElement('option');
            option.text = resultado[i].entityName;
            option.value = resultado[i].entityId;
            selectParentEntity.add(option);
        }
        CargarColumnasSelect();
    }

    async function CargarColumnasSelect()
    {
        let url = "Columns/GetColumns?EntityId=" + selectParentEntity.value;
        const respuesta = await fetch(url);
        const resultado = await respuesta.json();

        let option;
        selectParentColumn.innerHTML = "";
        for (let i = 0; i < resultado.length; i++)
        {
            option = document.createElement('option');
            option.text = resultado[i].columnName;
            option.value = resultado[i].columnId;
            selectParentColumn.add(option);
        }
    }
</script>
}
