@model DEVTOOLS.EF.Entidades.ColumnTemplate

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ColumnTemplate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ColumnId" class="control-label"></label>
                <select asp-for="ColumnId" class ="form-control" asp-items="ViewBag.ColumnId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ColumnTemplateSourceCodeType" class="control-label"></label>
                <select asp-for="ColumnTemplateSourceCodeType" class="form-control" asp-items="ViewBag.ColumnTemplateSourceCodeType"></select>
            </div>
            <div class="form-group">
                <label asp-for="ColumnTemplateName" class="control-label"></label>
                <input asp-for="ColumnTemplateName" class="form-control" />
                <span asp-validation-for="ColumnTemplateName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColumnTemplateObservations" class="control-label"></label>
                <input asp-for="ColumnTemplateObservations" class="form-control" />
                <span asp-validation-for="ColumnTemplateObservations" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColumnTemplateContent" class="control-label"></label>
                <input asp-for="ColumnTemplateContent" class="form-control" />
                <span asp-validation-for="ColumnTemplateContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section ScriptsBlock {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
